.Expertise{
  padding-top: 4rem;
}

.holder{
  padding-top: 3rem;
}

.Expertise h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  line-height: 46px;
  font-size: 40px;
  margin: 0 0 23px 0;
  opacity: 0;
}

.Expertise p{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 23px;
  margin: 0 0 23px 0;
  opacity: 0;
}
